.infoBody {
   .infomain {
      position:relative;
      width:136.6rem;
      height:fit-content;
      background:url('../img/home.png') no-repeat;
      background-size: cover;
      margin:0 auto;
      display:flex;
      
      .infoleft {
         width:27.5rem;
         margin-top:25rem;
         margin-left:9rem;
         .userinfo {
            .refi {
               position:absolute;
               top:5.5rem;
               right:27rem;
            }
            background:#000;
            border:7px solid #fff;
            color:#fff;
            padding:1rem;
            .username {
               font-size: 5rem;
               margin-bottom:1rem;
            }
            .userlv {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userhp {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userg {
               margin-left:1.4rem;
               font-size: 3rem;
            }
         }
         .userwork {
            background:#000;
            border:7px solid #fff;
            color:#fff;
            margin-top:2rem;
            padding:2rem 3rem;
            li { margin-bottom:2rem;
               a
               {
               font-size: 4rem;
               &:hover {
                  color:#fff500;
               }
            }
            .active {
               color:#fff500
            }
            }
            li:last-child {
               margin:none;
            }
         }
      }
      .inforight {

         margin-top:3rem;
         margin-left:2rem;
         background:#000;
            border:7px solid #fff;
            color:#fff;
            width:76rem;
            height:95rem;
            padding-left:2.5rem;
            padding-right:2.5rem;

            h2 {
               font-size:6rem;
               margin-bottom:2rem;
            }
            
         .infoinfo {
         display:flex;
            .infoinfoleft {
               .link {
                  display:flex;
                  gap:1.5rem;
                  a {
                     font-size: 5rem;
                     color:#fff500;
                  }
                  a:hover {
                     text-decoration: underline;
                  }
               }   
               img {
                  width:60rem;
                  height:50rem;
               }
               p {
                  margin-top:1rem;
                  font-size: 3.3rem;
                  font-family: 'DeterminationSansK2';
                  letter-spacing: 0.2rem;
               }
               p:nth-child(3) {
                  margin-top:3rem;
               }
               p:nth-child(4) {
                  margin-top:3rem;
               }
               a {
                  line-height:12rem;
                  font-size: 5rem;
                  color:#fff500;
               }
               a:hover {
                  text-decoration: underline;
               }
            }
            .infoinforight {
               li {
                  margin-left:3rem;
                  margin-bottom:1.5rem;
                  font-size:2rem;
                  text-align: center;
                  
               
                  img {
                     margin-bottom:0.1rem;
                     height:6rem;
                  }
               }
               
            }
            
         }
      }
   }
   .infomain1 {
      width:136.6rem;
      height:fit-content;
      background:url('../img/snowdin.png') no-repeat;
      background-size: cover;
      margin:0 auto;
      display:flex;
      .infoleft {
         width:27.5rem;
         margin-top:25rem;
         margin-left:9rem;
         .userinfo {
            .refi {
               position:absolute;
               top:5.5rem;
               right:54rem;
            }
            background:#000;
            border:7px solid #fff;
            color:#fff;
            padding:1rem;
            .username {
               font-size: 5rem;
               margin-bottom:1rem;
            }
            .userlv {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userhp {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userg {
               margin-left:1.4rem;
               font-size: 3rem;
            }
         }
         .userwork {
            background:#000;
            border:7px solid #fff;
            color:#fff;
            margin-top:2rem;
            padding:2rem 3rem;
            li { margin-bottom:2rem;
               a
               {
               font-size: 4rem;
               &:hover {
                  color:#fff500;
               }
            }
            .active {
               color:#fff500
            }
            }
            li:last-child {
               margin:none;
            }
         }
      }
      .inforight {

         margin-top:3rem;
         margin-left:2rem;
         background:#000;
            border:7px solid #fff;
            color:#fff;
            width:76rem;
            height:95rem;
            padding-left:2.5rem;
            padding-right:2.5rem;

            h2 {
               font-size:6rem;
               margin-bottom:2rem;
            }
            
         .infoinfo {
         display:flex;
            .infoinfoleft {
               .link {
                  display:flex;
                  gap:1.5rem;
                  a {
                     font-size: 5rem;
                     color:#fff500;
                  }
                  a:hover {
                     text-decoration: underline;
                  }
               }   
               img {
                  width:60rem;
                  height:50rem;
               }
               p {
                  margin-top:1rem;
                  font-size: 3.3rem;
                  font-family: 'DeterminationSansK2';
                  letter-spacing: 0.2rem;
               }
               p:nth-child(3) {
                  margin-top:3rem;
               }
               p:nth-child(4) {
                  margin-top:3rem;
               }
               a {
                  line-height:12rem;
                  font-size: 5rem;
                  color:#fff500;
               }
               a:hover {
                  text-decoration: underline;
               }
            }
            .infoinforight {
               li {
                  margin-left:3rem;
                  margin-bottom:1.5rem;
                  font-size:2rem;
                  text-align: center;
                  
               
                  img {
                     margin-bottom:0.1rem;
                     height:6rem;
                  }
               }
               
            }
            
         }
      }
   }
   .infomain2 {
      width:136.6rem;
      height:fit-content;
      background:url('../img/hotland.png') no-repeat;
      background-size: cover;
      margin:0 auto;
      display:flex;
      .infoleft {
         width:27.5rem;
         margin-top:25rem;
         margin-left:9rem;
         .userinfo {
            .refi {
               position:absolute;
               top:5.5rem;
               right:54.5rem;
            }
            background:#000;
            border:7px solid #fff;
            color:#fff;
            padding:1rem;
            .username {
               font-size: 5rem;
               margin-bottom:1rem;
            }
            .userlv {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userhp {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userg {
               margin-left:1.4rem;
               font-size: 3rem;
            }
         }
         .userwork {
            background:#000;
            border:7px solid #fff;
            color:#fff;
            margin-top:2rem;
            padding:2rem 3rem;
            li { margin-bottom:2rem;
               a
               {
               font-size: 4rem;
               &:hover {
                  color:#fff500;
               }
            }
            .active {
               color:#fff500
            }
            }
            li:last-child {
               margin:none;
            }
         }
      }
      .inforight {

         margin-top:3rem;
         margin-left:2rem;
         background:#000;
            border:7px solid #fff;
            color:#fff;
            width:76rem;
            height:95rem;
            padding-left:2.5rem;
            padding-right:2.5rem;

            h2 {
               font-size:6rem;
               margin-bottom:2rem;
            }
            
         .infoinfo {
         display:flex;
            .infoinfoleft {
               .link {
                  display:flex;
                  gap:1.5rem;
                  a {
                     font-size: 5rem;
                     color:#fff500;
                  }
                  a:hover {
                     text-decoration: underline;
                  }
               }   
               img {
                  width:60rem;
                  height:50rem;
               }
               p {
                  margin-top:1rem;
                  font-size: 3.3rem;
                  font-family: 'DeterminationSansK2';
                  letter-spacing: 0.2rem;
               }
               p:nth-child(3) {
                  margin-top:3rem;
               }
               p:nth-child(4) {
                  margin-top:3rem;
               }
               a {
                  line-height:12rem;
                  font-size: 5rem;
                  color:#fff500;
               }
               a:hover {
                  text-decoration: underline;
               }
            }
            .infoinforight {
               li {
                  margin-left:3rem;
                  margin-bottom:1.5rem;
                  font-size:2rem;
                  text-align: center;
                  
               
                  img {
                     margin-bottom:0.1rem;
                     height:6rem;
                  }
               }
               
            }
            
         }
      }
   }
   .infomain3 {
      width:136.6rem;
      height:fit-content;
      background:url('../img/waterfall.png') no-repeat;
      background-size: cover;
      margin:0 auto;
      display:flex;
      .infoleft {
         width:27.5rem;
         margin-top:25rem;
         margin-left:9rem;
         .userinfo {
            .refi {
               position:absolute;
               top:7rem;
               right:55rem;
            }
            background:#000;
            border:7px solid #fff;
            color:#fff;
            padding:1rem;
            .username {
               font-size: 5rem;
               margin-bottom:1rem;
            }
            .userlv {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userhp {
               margin-left:1.4rem;
               font-size: 3rem;
            }
            .userg {
               margin-left:1.4rem;
               font-size: 3rem;
            }
         }
         .userwork {
            background:#000;
            border:7px solid #fff;
            color:#fff;
            margin-top:2rem;
            padding:2rem 3rem;
            li { margin-bottom:2rem;
               a
               {
               font-size: 4rem;
               &:hover {
                  color:#fff500;
               }
            }
            .active {
               color:#fff500
            }
            }
            li:last-child {
               margin:none;
            }
         }
      }
      .inforight {

         margin-top:3rem;
         margin-left:2rem;
         background:#000;
            border:7px solid #fff;
            color:#fff;
            width:76rem;
            height:95rem;
            padding-left:2.5rem;
            padding-right:2.5rem;

            h2 {
               font-size:6rem;
               margin:2rem 0;
            }
            
         .infoinfo {
         display:flex;
            .infoinfoleft {
               .link {
                  display:flex;
                  gap:1.5rem;
                  a {
                     font-size: 5rem;
                     color:#fff500;
                  }
                  a:hover {
                     text-decoration: underline;
                  }
               }   
               img {
                  width:60rem;
                  height:50rem;
               }
               p {
                  margin-top:1rem;
                  font-size: 3.3rem;
                  font-family: 'DeterminationSansK2';
                  letter-spacing: 0.2rem;
               }
               p:nth-child(3) {
                  margin-top:3rem;
               }
               p:nth-child(4) {
                  margin-top:3rem;
               }
               a {
                  line-height:12rem;
                  font-size: 5rem;
                  color:#fff500;
               }
               a:hover {
                  text-decoration: underline;
               }
            }
            .infoinforight {
               li {
                  margin-left:3rem;
                  margin-bottom:1.5rem;
                  font-size:2rem;
                  text-align: center;
                  
               
                  img {
                     margin-bottom:0.1rem;
                     height:6rem;
                  }
               }
               
            }
            
         }
      }
   }
   
}
