


.profbody {
   main {
      .main-top {
         width:120rem;
         height:fit-content;
         border:2px solid #24b63b;
         margin:2.6rem auto;
         display:grid;
         grid-template-columns: 1fr 3fr 6fr;
         .a {
            color:transparent;
            border-right:2px solid #24b63b;
            display:grid;
            grid-template-rows: 2fr 4fr 1fr;
            .ab {
               border-top: 2px solid #24b63b; 
               border-bottom:2px solid #24b63b; 
            }
            
         }
         .b {
            color:transparent;
            border-right:2px solid #24b63b;
            display:grid;
            grid-template-rows: 2fr 4fr 1fr;
            .ba { position:relative;
               img {
                  position:absolute;
                  top:5rem;
               }
            }
            .bb {
               background:url('../img/pyro.gif') no-repeat;
               background-size: cover;
               border-top: 2px solid #24b63b; 
               border-bottom:2px solid #24b63b; 
            }
         }
         .c {
            color:transparent;
            display:grid;
            grid-template-columns: 4fr 4.25fr 7fr 3fr;
            .ca {
               display:grid;
               grid-template-rows:  3fr 10fr 14fr 1fr;
               .cad {
                  background:url('../img/bug.gif') no-repeat;
                  background-size: cover;
               }
               .cab, .cad {
                  border-top:2px solid #24b63b;
                  border-bottom:2px solid #24b63b;
               }
               
               
            }
            .cb {
               border-left:2px solid #24b63b;
               border-right:2px solid #24b63b;
               display:grid;
               grid-template-rows: 3fr 10fr 4.5fr 21fr 1fr;
               .cbb, .cbd {
                  border-top:2px solid #24b63b;
                  border-bottom:2px solid #24b63b;
               }
               .cbc {
                  background:url('../img/glitch2.gif') no-repeat;
                  background-size: cover;
               }
               .cbd {
                  background:url('../img/glitch.gif') no-repeat;
                  background-size: cover;
               }
            }
            .cc {
               display:grid;
            grid-template-rows: 3fr 10fr 4.5fr 21fr 1fr;
            .ccc {background:url('../img/error.gif') no-repeat;
               background-size: cover;
               

            }
            .ccb {
               background:url('../img/404.gif') no-repeat;
               background-size: cover;
            }
            .ccb, .ccd {
               border-top:2px solid #24b63b;
               border-bottom:2px solid #24b63b;
            }
            .ccd {
               background:url('../img/glitch1.gif') no-repeat;
               background-size: cover;
            }
            }
            .cd {
               border-left:2px solid #24b63b;
               display:grid;
               grid-template-rows: 3fr 10fr 4.5fr 21fr 1fr;
              
               .cdc {
                  background:url('../img/bughor.gif') no-repeat;
                  background-size: cover;
               }
               .cdb, .cdd {
                  border-top:2px solid #24b63b;
                  border-bottom:2px solid #24b63b;
               }
            }
            
         }
         
      }
      .main-bot {
         width:110rem;
         margin:0 auto;
         .textbox {
            position: relative;
            .mainp {
               position:absolute;
               right:2rem;
               bottom:2rem;
            }
         height:32rem;
            border:7px solid #fff;
         .typing {
            font-size: 5.5rem;
            padding:3.5rem 5rem;
            color:#0000;
               background:
               linear-gradient(-90deg,#fff 5px,#0000 0) 10px 0,
               linear-gradient(#fff 0 0) 0 0;
               background-size:calc(var(--n)*1ch) 200%;
               -webkit-background-clip:padding-box,text;
               background-clip:padding-box,text;
               background-repeat:no-repeat;
               animation: 
               b .7s infinite steps(1),   
               t calc(var(--n)*.0825s) steps(var(--n)) forwards;
         }
      }
         .choice {
            margin-top:2rem;
            
            font-family:'gamtan';
            font-size:5rem;
            .select {
               display:flex;
               gap:7rem;
               width:fit-content;
               margin:0 auto;
            a {
               color:#ff9800;
               text-align: center;
               display:block;
               width:20rem;
               height:10rem;
               border:7px solid #ff9800;
            }
            
            a:first-child {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            
               
            }
            a:nth-child(2) {
               font-size: 4.25rem;
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:6.75rem;
                     top:2.25rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:0.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:0.7rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(3) {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(4) {
               
               p { 
                  position:relative;
                  
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:5.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.75rem;
                     left:6.25rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            
   }
}
}
}
.profbody1 {
   main {
      .main-top {
         width:120rem;
         height:40rem;
         border:2px solid #24b63b;
         margin:2.6rem auto;
         display:grid;
         grid-template-columns: 1fr 2.8fr 2.1fr 2.45fr 2.45fr;
         .a, .b, .c, .d, .e {
            color:transparent;
            display:grid;
            grid-template-rows: 1fr 4.66fr 1fr;
         }
         .ab, .bb, .cb, .db, .eb {
            border-top:2px solid #24b63b;
            border-bottom:2px solid #24b63b;
         }
         .b, .d {
            border-left:2px solid #24b63b;
            border-right:2px solid #24b63b;
         }
         .bb {
            background:url('../img/mojil.gif') no-repeat;
            background-size: cover;
         }
         .db {
            background:url('../img/mojir.gif') no-repeat;
            background-size: cover;
         }
      }
      .main-bot {
         width:110rem;
         margin:0 auto;
         .textbox {
         height:32rem;
            border:7px solid #fff;
            position: relative;
            
            .refp {
               position:absolute;
               right:2rem;
               bottom:2rem;
            }
            .typed {
               line-height:6rem;
               padding:3rem 5rem;
            font-size: 4.25rem;
         .typing {

            color:#0000;
               background:
               linear-gradient(-90deg,#fff 5px,#0000 0) 10px 0,
               linear-gradient(#fff 0 0) 0 0;
               background-size:calc(var(--n)*1ch) 200%;
               -webkit-background-clip:padding-box,text;
               background-clip:padding-box,text;
               background-repeat:no-repeat;
               animation: 
               b .7s infinite steps(1),   
               t calc(var(--n)*.0650s) steps(var(--n)) forwards;
         }
         @keyframes t{
            from {background-size:0 200%}
         }
         @keyframes b{
            50% {background-position:0 -100%,0 0}
         }
      }
      }
         .choice {
            margin-top:2rem;
            
            font-family:'gamtan';
            font-size:5rem;
            .select {
               display:flex;
               gap:7rem;
               width:fit-content;
               margin:0 auto;
               } 
            a {
               color:#ff9800;
               text-align: center;
               display:block;
               width:20rem;
               height:10rem;
               border:7px solid #ff9800;
            }
            
            a:first-child {
               color:#fff500;
               border:7px solid #fff500;
               p { 
                  position:relative;
                  img {
                     position:absolute;
                     top:1.5rem;
                     left:1.5rem;
                     
                  }
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  
               }
               
            }
            
               
            }
            a:nth-child(2) {
               font-size: 4.25rem;
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:6.75rem;
                     top:2.25rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:0.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:0.7rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(3) {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(4) {
               
               p { 
                  position:relative;
                  
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:5.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.75rem;
                     left:6.25rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            
   }
}
}


}
.profbody2 {
   main {
      .main-top {
         width:120rem;
         height:40rem;
         border:2px solid #24b63b;
         margin:2.6rem auto;
         display:grid;
         grid-template-columns: 1fr 10.5fr 6.5fr 12.3fr 4fr;
         .a, .b, .c {
            color:transparent;
            display:grid;
            grid-template-rows: 1fr 2fr;
         }
         .b, .d {
            border-left:2px solid #24b63b;
            border-right:2px solid #24b63b;
         }
         .d, .e {
            color:transparent;
            display:grid;
            grid-template-rows: 5.15fr 1fr;
         }
         .a {
            .ab {
               border-top:2px solid #24b63b;
            }
         }
         .b {
            .bb {
               border-top:2px solid #24b63b;
               background:url('../img/dizzycall.gif') no-repeat;
            background-size: cover;
            }
         }
         .c {
            .cb {
               border-top:2px solid #24b63b;
            }
         }
         .d {
            .da {
               background:url('../img/lisacall.gif') no-repeat;
            background-size: cover;
            }
            .db {
               border-top:2px solid #24b63b;
            }
         }
         .e {
            .eb {
               border-top:2px solid #24b63b;
            }
         }
         
         
      }
      .main-bot {
         width:110rem;
         margin:0 auto;
         .textbox {
            position: relative;
            .refp {
               position:absolute;
               right:2rem;
               bottom:2rem;
            }
         height:32rem;
            border:7px solid #fff;
            .typed {
               line-height:6rem;
               padding:3rem 5rem;
            font-size: 5.5rem;
               p:last-child {

                  margin-top:3rem;
                  color:#fff500;
                  a:hover {
                     text-decoration: underline;
                  }
               }
      }
      }
         .choice {
            margin-top:2rem;
            
            font-family:'gamtan';
            font-size:5rem;
            .select {
               display:flex;
               gap:7rem;
               width:fit-content;
               margin:0 auto;
               } 
            a {
               color:#ff9800;
               text-align: center;
               display:block;
               width:20rem;
               height:10rem;
               border:7px solid #ff9800;
            }
            
            a:first-child {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(2) {
               color:#fff500;
               border:7px solid #fff500;
	font-size:4.25rem;
               p { 
                  position:relative;
                  img {
                     position:absolute;
                     top:1.5rem;
                     left:0.7rem;
                                       }
                  span {
                     position:absolute;
                     left:6.75rem;
                     top:2.25rem;

               }
            }
            }
            a:nth-child(3) {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(4) {
               
               p { 
                  position:relative;
                  
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:5.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.75rem;
                     left:6.25rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            
   }
}
}


}
.profbody3 {
   main {
      .main-top {
         width:120rem;
         height:40rem;
         border:2px solid #24b63b;
         margin:2.6rem auto;
         display:grid;
         grid-template-columns: 1fr 3fr 6fr;
         color:transparent;
         .a {
            display:grid;
            grid-template-rows: 4fr 1fr;
            border-right:2px solid #24b63b;
            .ab {
               border-top:2px solid #24b63b;
            };
         }
         .b {
            display:grid;
            grid-template-rows: 4fr 1fr;
            .ba {
               background:url('../img/friskroll.gif') no-repeat;
            background-size: cover;
            }
            .bb {
               border-top:2px solid #24b63b;
            }
         }
         .c {
            border-left:2px solid #24b63b;
            .status {
               width:68rem;
               display:flex;
               gap:4rem;
               margin:3rem auto;
               .subjectl {
                  display:flex;
                  flex-direction: column;
                  gap:3rem;
                  width:45%;
                  .ject {
                  .sub {
                     display:grid;
                     grid-template-columns: 1fr 2fr 4fr;
                     p {
                        font-size: 4rem;;
                        color:#fff;
                     }
                     
                     p:nth-child(2){
                        margin-left:0.5rem;
                        text-align: left;
                     }
                     p:last-child {
                        line-height:5rem;
                        font-size: 3rem;
                        text-align:right;
                     }
                  }
                  .bar {
                     margin-top:1rem;
                     @keyframes loading-bar {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:93%;
                        }
                        100% {
                           width:93%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
                  .bar1 {
                     margin-top:1rem;
                     @keyframes loading-bar_90 {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:90%;
                        }
                        100% {
                           width:90%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar_90;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
                  .bar2 {
                     margin-top:1rem;
                     @keyframes loading-bar_50 {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:50%;
                        }
                        100% {
                           width:50%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar_50;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
                  }
                  .ject:last-child {
                     .sub {
                        p:first-child {
                           img {
                              max-width: none;
                           }
                        }
                        p:nth-child(2) {
                           font-size: 3rem;
                           margin-left:1rem;
                           margin-top:0.5rem;
                        }
                     }
                  }
               }
               .subjectr {
                  display:flex;
                  flex-direction: column;
                  gap:3rem;
                  width:45%;
                  .ject {
                  .sub {
                     display:grid;
                     grid-template-columns: 1fr 2fr 4fr;
                     p {
                        font-size: 4rem;;
                        color:#fff;
                        
                     }
                     
                     p:nth-child(2){
                        margin-left:0.5rem;
                        text-align: left;
                     }
                     p:last-child {
                        line-height:5rem;
                        font-size: 3rem;;
                        text-align:right;
                     }
                  }
                  .bar {
                     margin-top:1rem;
                     @keyframes loading-bar_55 {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:55%;
                        }
                        100% {
                           width:55%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar_55;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
                                 
                  .bar1 {
                     margin-top:1rem;
                     @keyframes loading-bar_40 {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:40%;
                        }
                        100% {
                           width:40%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar_40;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
                  .bar2 {
                     margin-top:1rem;
                     @keyframes loading-bar_45 {
                        0% {
                           width:1%;
                        }
                        
                        80% {
                           width:45%;
                        }
                        100% {
                           width:45%;
                        }
                     }
                     position:relative;
                     width:100%;
                     height:3rem;
                     background:#727044;
                     .bar-gauge {
                        position:absolute;
                        top:0;
                        left:0;
                        width:1%;
                        height:3rem;
                        background:#fff500;
                        animation-name:loading-bar_45;
                        animation-duration: 1300ms;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-out;
                        animation-fill-mode: forwards;
                     }
                  }
               }
               .ject:last-child {
                  .sub {
                     p:first-child {
                        img {
                           max-width: none;
                        }
                     }
                     p:nth-child(2) {
                        font-size: 3rem;
                        margin-left:1rem;
                        margin-top:0.5rem;
                     }
                  }
               }
               
            }
         }
         }
         
      }
      .main-bot {
         width:110rem;
         margin:0 auto;
         .textbox {
            position: relative;
            .refp {
               position:absolute;
               right:2rem;
               bottom:2rem;
            }
            height:32rem;
               border:7px solid #fff;
               .typed {
                  line-height:6rem;
                  padding:3rem 5rem;
               font-size: 4.5rem;
            .typing {
   
               color:#0000;
                  background:
                  linear-gradient(-90deg,#fff 5px,#0000 0) 10px 0,
                  linear-gradient(#fff 0 0) 0 0;
                  background-size:calc(var(--n)*1ch) 200%;
                  -webkit-background-clip:padding-box,text;
                  background-clip:padding-box,text;
                  background-repeat:no-repeat;
                  animation: 
                  b .7s infinite steps(1),   
                  t calc(var(--n)*.0825s) steps(var(--n)) forwards;
            }
            @keyframes t{
               from {background-size:0 200%}
            }
            @keyframes b{
               50% {background-position:0 -100%,0 0}
            }
         }
         }
         .choice {
            margin-top:2rem;
            
            font-family:'gamtan';
            font-size:5rem;
            .select {
               display:flex;
               gap:7rem;
               width:fit-content;
               margin:0 auto;
               } 
            a {
               color:#ff9800;
               text-align: center;
               display:block;
               width:20rem;
               height:10rem;
               border:7px solid #ff9800;
            }
            
            a:first-child {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(2) {
               font-size: 4.25rem;
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:6.75rem;
                     top:2.25rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:0.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:0.7rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(3) {
               color:#fff500;
               border:7px solid #fff500;
               p { 
                  position:relative;
                  img {
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                                       }
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;

               }
            }
            }
            a:nth-child(4) {
               
               p { 
                  position:relative;
                  
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:5.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.75rem;
                     left:6.25rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            
   }
}
}


}
.profbody4 {
   main {
      .main-top {
         width:120rem;
         height:40rem;
         border:2px solid #24b63b;
         margin:2.6rem auto;
         display:grid;
         grid-template-columns: 3.4fr 1fr;
         color:transparent;
         .a {
            border-right:2px solid #24b63b;
            display:grid;
            grid-template-rows:1fr 3fr;
            .aa {
               background:url('../img/title1.png') no-repeat center;
           
            }
            .ab {
               border-top:2px solid #24b63b;
               display:grid;
               grid-template-columns:1fr 4fr 1fr;
               .abb {
                  border-right:2px solid #24b63b;
                  border-left:2px solid #24b63b;
                  iframe {
                     padding:1rem;
                  }
               }
            }
         }
         .b {
            display:grid;
            grid-template-rows:1fr 3fr;
            .ba {
               display: grid;
               grid-template-columns:1fr 1fr;
               .baa {
                  background:url('../img/dog.gif') no-repeat; 
                  background-size: cover;
               }
               .bab {
                  background:url('../img/temmie.gif') no-repeat; 
                  background-size: cover;
               }
            }
            .bb {
               border-top:2px solid #24b63b;
               background:url('../img/sans.gif') no-repeat center; 
                  background-size: cover;
            }
         }
         
         
      }
      .main-bot {
         width:110rem;
         margin:0 auto;
         .textbox {
            position: relative;
            .refp {
               position:absolute;
               right:2rem;
               bottom:2rem;
            }
            height:32rem;
               border:7px solid #fff;
               .typed {
                  line-height:6rem;
                  padding:3rem 5rem;
               font-size: 4.5rem;
            .typing {
   
               color:#0000;
                  background:
                  linear-gradient(-90deg,#fff 5px,#0000 0) 10px 0,
                  linear-gradient(#fff 0 0) 0 0;
                  background-size:calc(var(--n)*1ch) 200%;
                  -webkit-background-clip:padding-box,text;
                  background-clip:padding-box,text;
                  background-repeat:no-repeat;
                  animation: 
                  b .7s infinite steps(1),   
                  t calc(var(--n)*.0550s) steps(var(--n)) forwards;
            }
            @keyframes t{
               from {background-size:0 200%}
            }
            @keyframes b{
               50% {background-position:0 -100%,0 0}
            }
         }
         }
         .choice {
            margin-top:2rem;
            
            font-family:'gamtan';
            font-size:5rem;
            .select {
               display:flex;
               gap:7rem;
               width:fit-content;
               margin:0 auto;
               } 
            a {
               color:#ff9800;
               text-align: center;
               display:block;
               width:20rem;
               height:10rem;
               border:7px solid #ff9800;
            }
            
            a:first-child {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:2rem;
                     left:1.5rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(2) {
               font-size: 4.25rem;
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:6.75rem;
                     top:2.25rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1rem;
                     left:0.5rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:0.7rem;
                     
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(3) {
               
               p { 
                  position:relative;
                  span {
                     position:absolute;
                     left:8rem;
                     top:2rem;
                  }
                  img:first-child {
                     display:block;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
                  img:nth-child(2) {
                     display:none;
                     position:absolute;
                     top:1.5rem;
                     left:1rem;
                  }
               }
               &:hover {
                  color:#fff500;
                  border:7px solid #fff500;
                  p {
                     img:first-child {
                           display:none;
                        }
                        img:nth-child(2) {
                           display:block;
                           
                        }
                  }
            }
            }
            a:nth-child(4) {
               color:#fff500;
               border:7px solid #fff500;
               p { 
                  position:relative;
                  img {
                     position:absolute;
                     top:1.5rem;
                     left:6.25rem;
                                       }
                  
            }
            }
            
   }
}
}


}

