@font-face {
    font-family: 'DeterminationMonoK2';
    src: url('DeterminationMonoK2.woff2') format('woff2'),
        url('DeterminationMonoK2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DeterminationSansK2';
    src: url('DeterminationSansK2.woff2') format('woff2'),
        url('DeterminationSansK2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

